:root {
  --bg-color: #fafafa;
  --panel-bg-color: #fff;
  --text-color: red; /* for debugging — red text means you're missing styles in your theme */
  --border-color: #eaeaea;
  --panel-border-color: rgb(226, 226, 226);
  --headline-color: #000;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html.dark {
  --bg-color: #171717;
  --panel-bg-color: #1e1e1e;
  --panel-border-color: #333;
  --border-color: #333;
  --headline-color: #fff;
}
